.spankpay { width: 100%; background-color: #ff3b81; color: white; text-align: center; cursor: pointer; padding-top: 5px; padding-bottom: 5px; transition: background-color 250ms; }
.spankpay:hover { background-color: #d13069; }
.spankpayAllowAnonymous { color: #ff3b81; display: none; }
.spankpayAllowAnonymous strong { text-decoration: underline; }